<div class="container">
    <form [formGroup]="ownerGroup" *ngIf="iCarOwnersService.addContact">
        <div>
            <label *ngFor="let item of ownerTemplate">
                {{ item.key }}:
                <input [formControlName]=item.value>
            </label>
        </div>

        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Producer name</th>
                        <th scope="col">Model name</th>
                        <th scope="col">Production year</th>
                    </tr>
                </thead>
                <tbody formArrayName="cars">

                    <tr formGroupName="{{ i }}" *ngFor="let car of alternateCars.controls; let i = index">
                        <th scope="row"><input formControlName="stateNumber" (ngModelChange)="checkStateNumber(i)">
                        </th>
                        <td scope="row"><input formControlName="producerName"></td>
                        <td scope="row"><input formControlName="modelName"></td>
                        <td scope="row"><input formControlName="productionYear"></td>
                    </tr>
                </tbody>

            </table>
            <div class="click-buttons">
                <button (click)="addCar()">Add car</button>
                <button (click)="removeCar()" [disabled]="alternateCars.length == 0">Remove car</button>
            </div>
        </div>
        <div class="create-btn">
            <button type="button" (click)="onBack()">Back</button>
            <button type="button" (click)="createOwner()" [disabled]="ownerGroup.invalid">Create owner</button>
        </div>
    </form>

    <div *ngIf="viewOwner">
        <div>
            Full name: {{ iCarOwnersService.selectedOwner!.surName }} {{ iCarOwnersService.selectedOwner!.name }} {{ iCarOwnersService.selectedOwner!.middleName }}
        </div>

        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Number</th>
                    <th scope="col">Producer name</th>
                    <th scope="col">Model name</th>
                    <th scope="col">Production year</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let car of cars">
                    <th scope="row"> {{ car.stateNumber }} </th>
                    <td scope="row"> {{ car.producerName }} </td>
                    <td scope="row"> {{ car.modelName }} </td>
                    <td scope="row"> {{ car.productionYear }} </td>
                </tr>
            </tbody>
        </table>

        <div class="view-btn">
            <button type="button" (click)="onBack()">Back</button>
        </div>
    </div>

    <div *ngIf="editOwner" [formGroup]="ownerGroup">
        <div class="edit-names">
            <label>
                Name:
                <input formControlName="name">
            </label>
            <label>
                Last name:
                <input formControlName="lastname">
            </label>
            <label>
                Middle name:
                <input formControlName="middlename">
            </label>
        </div>

        <div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Number</th>
                        <th scope="col">Producer name</th>
                        <th scope="col">Model name</th>
                        <th scope="col">Production year</th>
                    </tr>
                </thead>
                <tbody formArrayName="cars">

                    <tr formGroupName="{{ i }}" *ngFor="let car of alternateCars.controls; let i = index">
                        <th scope="row"><input formControlName="stateNumber" (ngModelChange)="editStateNumber(car)">
                        </th>
                        <td scope="row"><input formControlName="producerName"></td>
                        <td scope="row"><input formControlName="modelName"></td>
                        <td scope="row"><input formControlName="productionYear"></td>
                        <td><button (click)="removeCarEdit(car)">Remove car</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="edit-buttons">
            <button (click)="cancelEdit()">Cancel edit</button>
            <button (click)="addCarEdit()">Add car</button>
            <button type="button" (click)="onBack()">Back</button>
            <button (click)="updateOwner()" [disabled]="ownerGroup.invalid">Update owner</button>
        </div>
    </div>
</div>