<div *ngIf="mainView">
    <div class="buttons">
        <button (click)="addContact(); container.newContact(); mainView = !mainView">Add owner</button>
        <button [disabled]="!iCarOwnersService.selectedOwner" (click)="container.exemineOwner(); mainView = !mainView">View owner</button>
        <button [disabled]="!iCarOwnersService.selectedOwner || container.editOwner" (click)="container.allowEdit(); mainView = !mainView">Edit owner</button>
        <button [disabled]="!iCarOwnersService.selectedOwner" (click)="deleteOwner()">Delete owner</button>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
                <th scope="col">Middle name</th>
                <th scope="col">Car amount</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let owner of iCarOwnersService.owners" (click)="selectOwner(owner)">
                <th scope="row"> {{ owner.surName }} </th>
                <td scope="row"> {{ owner.name }} </td>
                <td scope="row"> {{ owner.middleName }} </td>
                <td scope="row"> {{ owner.carsAmount }} </td>
            </tr>
        </tbody>
    </table>
</div>

<container #container (back)="changeView($event)"></container>